@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-darkMode-lighter: #cee7fe;
  --color-darkMode-light: #6d93b3;
  --color-darkMode: #0e182a;
  --color-darkMode-dark: #0b101a;
  --color-darkMode-darker: #000000;

  --color-primary-lighter: #cee7fe;
  --color-primary-light: #82c4fe;
  --color-primary: #4facfe;
  --color-primary-dark: #1986e6;
  --color-primary-darker: #1267b3;

  --color-white: #ffffff;
  --color-grey-light: #f5f5f5;
  --color-grey-lighter: #f7fafc;
  --color-grey: #dcdcdc;
  --color-grey-dark: #a7a7a7;
  --color-grey-darker: #6b6b6b;

  --color-background: var(--color-white);
  --color-background-dark: var(--color-grey-light);
  --color-background-footer: var(--color-primary);
  --color-background-code: var(--color-darkMode-dark);
  --color-text: var(--color-darkMode);
  --color-text-footer: var(--color-white);
  --color-text-secondary: var(--color-grey-darker);
  --color-text-disabled: var(--color-white);
  --color-hover: var(--color-primary-light);
  --color-active: var(--color-primary-dark);
  --color-border: var(--color-grey);
  --color-switch: #f0ba2a;
  --color-code: #addb67;

  --box-shadow: rgba(0, 0, 0, 0.016) 0px 0.8px 2.2px -2px,
    rgba(0, 0, 0, 0.02) 0px 1.9px 5.3px -2px,
    rgba(0, 0, 0, 0.024) 0px 3.6px 10px -2px,
    rgba(0, 0, 0, 0.03) 0px 6.5px 17.9px -2px;
  --color-navbar-background: rgba(255, 255, 255, 0.9) none repeat scroll 0% 0%;
  --base-font-size: 18px;
}

[data-theme='dark'] {
  --color-background: var(--color-darkMode);
  --color-background-dark: var(--color-darkMode-dark);
  --color-background-footer: var(--color-darkMode-darker);
  --color-text: var(--color-grey-lighter);
  --color-text-footer: var(--color-primary-lighter);
  --color-text-secondary: var(--color-darkMode-light);
  --color-text-disabled: var(--color-darkMode-light);
  --color-hover: var(--color-primary-light);
  --color-active: var(--color-primary-dark);
  --color-border: rgba(255, 255, 255, 0.05);
  --color-navbar-background: rgba(14, 24, 42, 0.9) none repeat scroll 0% 0%;

  --box-shadow: rgba(0, 0, 0, 0.082) 0px 0.8px 2.2px -2px,
    rgba(0, 0, 0, 0.12) 0px 1.9px 5.3px -2px,
    rgba(0, 0, 0, 0.15) 0px 3.6px 10px -2px,
    rgba(0, 0, 0, 0.18) 0px 6.5px 17.9px -2px;
}

* {
  font-size: var(--base-font-size);
  line-height: 1.5em;
  transition: background 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  scrollbar-width: thin;
}

html,
body {
  color: var(--color-text);
  background: var(--color-background);
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1:hover .anchor svg,
h2:hover .anchor svg,
h3:hover .anchor svg,
h4:hover .anchor svg,
h5:hover .anchor svg,
h6:hover .anchor svg,
h1 .anchor:focus svg,
h2 .anchor:focus svg,
h3 .anchor:focus svg,
h4 .anchor:focus svg,
h5 .anchor:focus svg,
h6 .anchor:focus svg {
  opacity: 1;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  scroll-margin-top: 5rem;
}

.anchor svg {
  position: absolute;
  left: -24px;
  height: 100%;
  fill: var(--color-primary);
  opacity: 0;
  transition: all 0.2s ease;
}

pre,
code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  overflow-wrap: break-word;
}

/**
* Add back the container background-color, border-radius, padding, margin
* and overflow that we removed from <pre>.
*/
.gatsby-highlight {
  background-color: var(--color-background-code);
  padding: 1em;
  overflow: auto;
  @apply my-10 -mx-4 sm:rounded-none md:rounded-md;
}

/**
* Remove the default PrismJS theme background-color, border-radius, margin,
* padding and overflow.
* 1. Make the element just wide enough to fit its content.
* 2. Always fill the visible space in .gatsby-highlight.
* 3. Adjust the position of the line numbers
*/
.gatsby-highlight pre[class*='language-'] {
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow: initial;
  float: left; /* 1 */
  min-width: 100%; /* 2 */
  font-size: 16px !important;
}

.gatsby-highlight pre[class*='language-'].line-numbers {
  padding: 0;
  padding-left: 2.5em;
  overflow: initial;
  font-size: 16px !important;
  border-right: 0;
}

.gatsby-highlight .token {
  font-size: 16px !important;
}

.gatsby-highlight .line-numbers-rows {
  border-right: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.gatsby-highlight .line-numbers-rows span {
  color: white;
  opacity: 0.2;
  line-height: 1.34rem;
}

blockquote > p {
  margin: 0 !important;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  font-size: inherit !important;
}

/* img caption */
p span + em {
  text-align: center;
  @apply text-xs block mt-2 opacity-70;
}
